# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Logs y temporales
*.log
*.tmp

# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# jsons autogenerados (contenidos dentro de data/)
*_TEMP.json

# generados
structure.json
server.json

# servicio midi
