# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Logs y temporales
*.log
*.tmp
/client/logs/
/server/logs/
/server/omi.db
/agent_pi/data


# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

#jsons autogenerados
structure.json
server.json

# servicio midi
OMIMIDI_state.json
OMIMIDI_learn_request.json
OMIMIDI_last_event.json
OMIMIDI_webui.pid
OMIMIDI_map.json