# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Logs y temporales
*.log
*.tmp
*.out
*.flag
*.lock
*.pid
*_TEMP.json

# Servidor
server/logs/
server/data/

# Archivos del sistema
.DS_Store
Thumbs.db


*_TEMP.json

# Estado y Configuración activa
active_config.txt
client/data/active_service.txt
client/servicios/MIDI/active_config.txt
client/servicios/satellite/active_config.txt

# generados
client/data/structure.json
client/data/server.json
client/servicios/servicios.json
client/servicios/MIDI/OMIMIDI_map.json
client/servicios/MIDI/OMIMIDI_learn_request.json

# Configs generadas (no templates)
client/servicios/MIDI/configs/*.json
!client/servicios/MIDI/configs/*.template.json


# Satellite Service
client/servicios/satellite/satellite_code/
client/servicios/satellite/bin/
client/servicios/satellite/fnm_data/
client/servicios/satellite/runtime_config.json
client/servicios/satellite/logs/
client/servicios/satellite/service_state.json
client/servicios/satellite/install.flag

# Configs generadas (no templates)
client/servicios/satellite/configs/*.json
!client/servicios/satellite/configs/*.template.json

# Logs generales
client/logs/
